<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Welcome Back, <%= @user.username %>.<br>
    <small>Here's What You've Been Listening To:</small>
  </h1>
<% alphabetized = @user.records.sort_by {|record| record.artist} %>
<div class="row">
<% alphabetized.each do |record| %>

  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="/records/<%= record.id %>"><img class="card-img-top" src=<%= record.image_url %> alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a><%= record.name %></a>
        </h4>
        <p class="card-text">By <%= record.artist %></p>

      </div>
    </div>
  </div>
  <% end %>
</div>
<a href="/records/new" class="btn btn-sm btn-secondary text-uppercase">Add a New Record</a>

</div>
